
/* Variabler */
:root {
    /* Färger */
    --color-1: oklch(33.511% 0.03312 260.932);
    --color-2:oklch(99.107% 0.00011 271.152);
    --color-3: oklch(79.208% 0.00009 271.152);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-1);
}

header {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--color-1);
    color: var(--color-2);
    text-align: center;
}

section, form {
    display: inline-block;
    padding: 1rem;
    margin-block: 1rem;

    border: 0.5rem solid var(--color-1);
    border-radius: 1rem;
}

#task-form {
    h2 {
        margin-block-start: 0.5rem;
    }

    #error-message {
        margin-block-end: 0;

        color: crimson;
        font-size: 0.85rem;
        font-weight: bold;
    }

    .form-label {
        display: inline-block;
        position: absolute;
        left: -99999rem;
        z-index: 100;
    }
}

#task-counter {
    display: block;
    margin-block: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#last-saved {
    display: block;
    color: var(--color-1);
    margin-block: 0.75rem;
    font-weight: bold;
}

.card-grid-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

.task-card {
    padding-inline: 1rem;
    padding-block-end: 1rem;
    background-color: var(--color-2);

    border: 1px solid var(--color-3);
    border-left: 8px solid var(--color-1);
    border-radius: 0.3rem 1rem 1rem 0.3rem;


    button:first-of-type {
        margin-inline-end: 0.5rem;
    }

    &.completed {
        opacity: 0.6;
        text-decoration: line-through;
    }

    &.prio-high {
        border-left-color: crimson;
    }

    &.prio-medium {
        border-left-color: gold;
    }

    &.prio-low {
        border-left-color: limegreen;
    }
}